@font-face {  
	font-family: Pragma;
	src: url('css/pragma.ttf') format("truetype");  
}  
body {
	padding-top: 50px;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}
.header {
	height: 115px;
}
.navlinks {
	top: 65px;
}

.header .container {
	height: 115px;
}

.header .container div {
	margin-left: 5px;

	display: inline-block;
}

.header .container {
	color: #FFF;
}

#username {
	font-size: large;
	display: block;
    padding: 0px;
    font-size: 1.25em;
    color: white;
    text-shadow: #A0A0A0 1px 1px 1px;
    line-height: 1.5em;
    overflow: hidden;
}

.info {
	position: relative;
}

.header .container .info div {
	display: block;
}

.advert-banner {
	max-width: 100%;
	width: auto;
	height: auto;
}

#buttons {
	color: black;
	font-size: smaller;
	margin-top: 5px;
	display: block;
}

.userbox {
	margin-top: 5px;
	position: relative;
	float: right;
	clear: left;
}

.logo {
	margin-top: 35px;
	max-width: 50%;
	max-height: 40%;
	vertical-align: middle;
	width: auto;
	height: auto;
}
.content {
	padding-top: 54px;
}
.ticker {
	padding-left: 10px;
	background-color: #333;
	color: #CCC;
	font-family: sans-serif;
	font-size: large;
}
.heading {
	display: inline-block;
	width: auto;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 30px;
	height: 40px;
	text-align: center;
	font-size: x-large;
	line-height: 37px;
	text-shadow: 1px 1px 1px #A0A0A0;
	color: white;
	box-shadow: 0px 0px 5px 1px #CCC;
	font-weight: 700;
	font-family: 'Source Sans Pro', sans-serif;
}
.heading-green {
	background-color: #ade021;
}
.heading-blue {
	background-color: #219de0;
}
.heading-red {
	background-color: #e02121;
}
.heading-yellow {
	background-color: #ffcd00;
}
.content-block {
	margin-bottom: 20px;
}
.content-readmore {
	position: relative;
	float: right;
	margin-right: 20px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	background-color: #555;
	font-size: small;
	text-shadow: 0px 0px 1px #FFF;
}
.content-readmore a {
	color: white;
}
.block-content {
	padding-top: 10px;
	position: relative;
	height: 255px;
	box-shadow: 0px 0px 0.5em 1px #CCC;
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	width: 100%;
background-repeat: no-repeat;
background-size: 100% 100%;
}
.block-content h1 {
	margin: 0;
}
.block-content h3 {
	margin: 0;
	font-weight: normal;
}

.block-forums {
	padding: 15px;
	padding-top: 20px;
}

.block-forums p {
	margin-left: 10px;
}

.block-text {
	text-shadow: 1px 1px 1px #333;
	font-size: 16px;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	margin-right: 20px;
	margin-left: 20px;
	position: absolute;
	bottom: 0;
}
.show-ticker {
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
}
.show-ticker td {
	padding: 2px;
}
.avatar-xs {
	width: 16px;
	height: 16px;
	border-radius: 3px;
	vertical-align: middle;
	margin-top: 2px;
	margin-left: 4px;
}
.avatar {
    height: 50px;
    width: 50px;


    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

button {
    font-size: 0.75em;
    text-shadow: none;
    font-family: Verdana, helvetica, sans-serif;
    font-weight: 300;
    color: #5E5E5E;
    line-height: 11px;
    cursor: pointer;

    border-bottom: 1px solid #555;
    border-right: 1px solid #555;
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    padding: 5px;
    height: 23px;



    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(207,207,207)),
        color-stop(1, rgb(242,242,242))
    );

    background-image: -moz-linear-gradient(
        center bottom,
        rgb(207,207,207) 0%,
        rgb(242,242,242) 100%
    );

}

.icon {
    padding: 0px 6px 0px 6px;
    vertical-align: middle;
    margin: 0;
}

#infotext {
    margin: 0;
    padding: 0px;
    width: 178px;
    font-size: 0.85em;
    line-height: 4em;
    color: #e7e7e7;
    text-shadow: none;
}