<div class="navbar navbar-inverse navbar-fixed-top header" role="navigation">
	<div class="container">
		<div class="userbox">
			<div id="username">
				{{ header.user.username }}
			</div>
			<div id="avatar">
				<img class="avatar" src="{{ header.user.avatar }}" />
			</div>
			<div id="infotext">
                {% if header.user.id != -1 %}
				<img class="icon" src="{{ asset('img/note.png') }}">{{ header.user.posts }} posts
                {% endif %}
			</div>
			<div id="buttons">
                {% if header.user.id != -1 %}
				<button onclick="window.location.assign('/zaitv')">Logout</button>
				<button>Profile</button>
				<button>Settings</button>
                {% else %}
                <button onclick="window.location.assign('test_api')">Login</button>
                {% endif %}
			</div>
		</div>
		<img class="logo" src="{{ asset('img/logo.png') }}" />
	</div>
</div>