{% extends "layout.html" %}

{% block content %}
{% include "ticker.html" %}
{% include "carousel.html" %}
<div class="row">
	<div class="col-lg-6 content-block">
		<div class="heading heading-green">
			{{ blocks.green.heading }}
		</div>
		{% if blocks.green.style == "feature" %}
		<div class="block-content" {% if blocks.green.image != null %}style="background-image: url({{ blocks.green.image }}){% endif %}">
			<div class="block-text">
				<h1>{{ blocks.green.title }}</h1>
				<p>{{ blocks.green.detail }}</p>
			</div>
		</div>
		{% elseif blocks.green.style == "table" %}
		<div class="block-content">
			<tr>
			{% for cell in blocks.green.table.header %}
				<th>{{ cell.label }}</th>
			{% endfor %}
			</tr>
			{% for row in blocks.green.table.rows %}
				<tr>
					{% for cell in row %}
						<td>{{ cell.label }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</div>
		{% endif %}
		<div class="content-readmore">
			<a href="{{ blocks.green.link }}">{{ blocks.green.readmore }}</a>
		</div>
	</div>
	<div class="col-lg-6 content-block">
		<div class="heading heading-blue">
			{{ blocks.blue.heading }}
		</div>
		<div class="block-content block-forums">
			{% for post in blocks.blue.posts|slice(0, 4) %}
			<h3><a href="#">{{ post.title }}</a></h3>
			<p>Started by <a href="#">{{ post.author }}<img class="avatar-xs" src="{{ post.authorAvatar }}" /></a>, last reply by <a href="#">{{ post.replier }}<img class="avatar-xs" src="{{ post.replierAvatar }}" /></a> ({{ post.time }})</p>
			{% endfor %}
		</div>
		<div class="content-readmore">
			<a href="{{ blocks.blue.link }}">{{ blocks.blue.readmore }}</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6 content-block">
		<div class="heading heading-yellow">
			Show Countdown
		</div>
		<div class="block-content">
			<table class="show-ticker">
				<tr>
					<th>Series</th>
					<th>Season</th>
					<th>Episode</th>
					<th>Released in...</th>
				</tr>
				<tr>
					<td>Grey's Anatomy</td>
					<td>Season 7</td>
					<td>Episode 9</td>
					<td>1 day, 13 hours, 24 minutes, 11 seconds</td>
				</tr>
			</table>
		</div>
		<div class="content-readmore">
			browse our forums &raquo;
		</div>
	</div>
	<div class="col-lg-6 content-block">
		<div class="heading heading-red">
			Anime Countdown
		</div>
		<div class="block-content">
			<table class="show-ticker">
				<tr>
					<th>Series</th>
					<th>Season</th>
					<th>Episode</th>
					<th>Released in...</th>
				</tr>
				<tr>
					<td>Naruto</td>
					<td>Season 7</td>
					<td>Episode 9</td>
					<td>1 day, 13 hours, 24 minutes, 11 seconds</td>
				</tr>
			</table>
		</div>
		<div class="content-readmore">
			check out our servers &raquo;
		</div>
	</div>
</div>
{% endblock %}