<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} &#x1f4fa; Sigh.tv</title>

    {% include 'stylesheets.html' %}

    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>
  <body>
	{% include 'branded-header.html' %}
	{% include 'navbar.html' %}

    <div class="container content">

    	{% block content %}
    		<h1>Sigh.tv</h1>
    		<h2>{{ page.title }}</h2>
    	{% endblock %}
    </div>

    {% include 'javascript.html' %}
    {% block scripts %}
    {% endblock %}
  </body>
</html>

