<div class="navbar navbar-default navlinks" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">News</a></li>
				<li><a href="#">Articles</a></li>
				<li><a href="#">Forums</a></li>
				<li><a href="#">About Us</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div>